@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <h3>String calculator</h3>
    <p>A magnificent piece of kit, really. Looks dead good and that like. 5 star reviews al' ower the net!</p>
    <br />
    <i>"Aye it's canny like" ~The locals</i>
</div>
